.header__logo{
    padding-top: 28px;
    background-image: url(../../../images/header-logo.svg);
    width: 176px;
    height: 52px;
    background-size: 176px;
    background-repeat: no-repeat;
    background-position: left bottom;
    flex-grow: 1;
}

@media screen and (max-width: 767px) {

    .header__logo{
        padding-top: 16px;
        width: 142px;
        height: 42px;
        background-size: 142px;
    }
    
}